.header {
    display: grid;
    position: sticky;
    top:0%;
    width: 100%;
    background-color: rgb(170, 170, 170);
    border-bottom: 11px solid rgb(58, 58, 58);
    border-radius: 14px;
    grid-template-columns: 1fr 1fr 1fr 2fr 6fr;
    grid-template-areas: 
    "title title title title title title"
    "time  time time time time time "
    "dateNews titleNews authorNews select input input"
    ;
}

.title{
    margin-bottom: 0px;
    font-size: 30px;
    justify-self: center;
    grid-area: title;
}

.date{
    font-size: 15px;
    justify-self: center;
    grid-area: time;
}


.searchInput {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 100px;
    width: 80%;
    justify-self: start;
    border: 1px solid #000000;

    grid-area: input;
}
select{
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 100px;
    justify-self: end;
    border: 1px solid #000000;
    width: 50%;
    grid-area: select;
}


.dateNews{
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 100px;
    justify-self: start;
    border: 1px solid #000000;
    width: 100%;
    grid-area: dateNews;
    
}
.titleNews{
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 100px;
    justify-self: start;
    width: 100%;
    border: 1px solid #000000;
    grid-area: titleNews;
    
}
.authorNews{
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 100px;
    justify-self: start;
    width: 100%;
    border: 1px solid #000000;
    grid-area: authorNews;
    
    
}
